/* Reset */
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    line-height: 1; 
    font-size: 12px;
    scroll-behavior: smooth;
}
body {
    font-family: 'Rubik', sans-serif;
    color: #616161;
}
.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
/* ---------------------------------- */

.main {
    flex: 1 1 auto;
}

[class*="-container"] {
    max-width: 1087px;
    margin: 0 auto;
    padding: 0 15px;
}

@media (max-width: 1087px) {
    [class*="-container"] {
        max-width: 970px;
    }
}
@media (max-width: 991.98px) {
    [class*="-container"] {
        max-width: 750px;
    }
}

.decor {
    position: absolute;
    width: 479px;
    height: 100vh;
    right: 0;
    top: 0px;
    z-index: -1;

    background: #EC5863;
    border-radius: 30px 0px 0px 30px;
}

/* ----------HEADER----------- */

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}
.header-container {
    display: flex;
    min-height: 9.5rem;
    align-items: center;
}

.header-logo {
}
.header-menu {
    flex: 1 1 auto;
}
.header-button {
    flex: 0 0 21rem;
    display: flex;
    justify-content: flex-end;
}
@media (max-width: 767.98px) {
    .header-button{
        flex: 0 0 15rem;
    }
}
.menu {
    display: flex;
    justify-content: flex-end;
}
.menu-list {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-right: 40px;
}
.menu-item {
}
.menu-link {
    font-family: Raleway;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.84rem;
    line-height: 1.2;
    position: relative;
}
.menu-link:hover {
    color: #5c3939;
}

.menu-link::after {
    content: "";
    display: block;
    width: 100%;
    height: 0.25rem;
    position: absolute;
    background-color: #5c3939;
    opacity: 0;
    transition: .2s opacity  ease;
}

.menu-link:hover::after {
    opacity: 1;
}

.button {
    display: inline-block;
    font-family: Raleway;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: .14em;
    color: #fcfdfe;
    background-color: #EC5863;
    border-radius: 5px;
    padding: 1.17rem 2.5rem;
    transition: 0.3s all ease;
}
.button:hover {
    background-color: #f30a1a;
}
.button_blue {
    background-color: #4285f4;
}
.button_blue:hover {
    background-color: #1066f0;
}

/* ----------GET-STARTED----------- */

.get-started {
    margin-top: 12.75rem;
}
.get-started-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.get-started-content {
    flex: 0 0 50%;
}
.get-started-text {
    flex: 1 1 auto;
}
.content-head {
    font-weight: 700;
    font-size: 3.67rem;
    line-height: 126%;
    color: #000;
    margin-bottom: 1rem;
}
.content-head-blue {
    color: #4285F4;
}
.content-text {
    font-weight: 400;
    font-size: 1rem;
    line-height: 138.5%;
    margin-bottom: 2rem;
}

.get-started-play {
    margin-top: 5.1rem;
    display: flex;
}

.play-img {
}

.play-img:hover{
    animation: rotate 1s linear;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.play-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    margin-left: 14px;
}
.play-text {
    color: #B0B0B0;
    font-size: 1.1rem;
    line-height: 1.3rem;
    letter-spacing: 0.08em;
}
.play-watch {
    font-size: 0.75rem;
    line-height: 0.92rem;
    letter-spacing: 0.165em;
    text-transform: uppercase;
    color: #000;
}
.get-started-img {
    flex: 0 0 50%;
}
.content-head-red {
    color: #EC5863;
}

/* ----------FEATURE----------- */

.feature {
    margin-top: 127px;
}
.feature-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.feature-left {
    flex: 0 0 338px;
}
.feature-right {
    flex: 0 0 379px;
}

/* ----------SUPPORT----------- */

.support {
    margin-top: 11rem;
}
.support-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.support-stat {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 760.89px;
    height: 200.74px;
    background-image: url('./img/stat.svg')
}
.stat-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.stat-content {
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    gap: 6.5rem;
    background: #FFFFFF;
    box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
    border-radius: 1.3rem;
    padding: 2.3rem 6.7rem;
}
.content-digit {

}
.digit-head {
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.58rem;
    letter-spacing: 0.14em;
    color: #EC5863;
    text-align: center;
}
.digit-text {
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.37em;
    text-transform: uppercase;
    color: #000;
    text-align: center;
}
.support-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4rem 0 9.7rem;
    width: 100%;
}
.video {
    height: 284px;
    width: 521.17px;
    box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
    border-radius: 8px;
}

/* ----------SUPPORT----------- */

.footer {
}
.footer-container {
    display: flex;
    flex-direction: column;
}
.footer-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content-head-footer {
    text-align: center;
}
.content-text-footer {
    text-align: center;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5.3rem;    
}
.footer-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
    border-radius: 8px;
    perspective: 1000px;
    backface-visibility: hidden;
    /* transition: transform .2s linear; */
    transition: 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform-style: preserve-3d;
}
.footer-card:hover {
    /* transform: scale(110%); */
    transform: rotateY(-360deg);
}
.card-img {
    margin: 3rem 8.75rem 4.83rem;
}
.card-head {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.83rem;
    letter-spacing: 0.08em;
    color: #000;
    margin-bottom: 0.5rem;
    text-align: center;
}
.card-text {
    font-weight: 400;
    font-size: 1rem;
    line-height: 138.5%;
    letter-spacing: 0.08em;
    color: #616161;
    margin-bottom: 4rem;
    text-align: center;
}
.footer-app {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6rem 0 3.5rem;
    gap: 4.75rem;
}

.decor-footer-1 {
    position: absolute;
    width: 65.75px;
    height: 65.75px;
    left: 218px;
    top: 2576.81px;
    z-index: -1;
    background: #EC5863;
    border-radius: 16px;
    transform: rotate(-30deg);
}
.decor-footer-2 {
    position: absolute;
    width: 96.96px;
    height: 96.96px;
    left: 456.57px;
    top: 2403.16px;
    z-index: -1;
    background: #EC5863;
    border-radius: 30px;
    transform: rotate(105deg);
}
.decor-footer-3 {
    position: absolute;
    width: 127.47px;
    height: 127.47px;
    left: 863.24px;
    top: 2505.75px;
    z-index: -1;
    background: #EC5863;
    border-radius: 30px;
    transform: rotate(-30deg);
}
.decor-footer-4 {
    position: absolute;
    width: 65.75px;
    height: 65.75px;
    left: 1230.93px;
    top: 2302.46px;
    z-index: -1;
    background: #EC5863;
    border-radius: 16px;
    transform: rotate(-30deg);
}

/* ----------SCROLL BAR----------- */

/* width */
::-webkit-scrollbar {
    background: linear-gradient(red, blue);
    width: 1.1rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: linear-gradient(red, blue);
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(blue, red);
    border: 1px solid black;
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #4285F4; 
  }

/* ----------SCROLL TO TOP----------- */

#myBtn {
    display: block; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgba(255, 0, 0, 0); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}
#myBtn img {
    width: 4rem;
    height: 4rem;
}

/* #myBtn:hover {
    background-color: rgba(85, 85, 85, 0); 
    animation: fly 2s linear;
} */
#myBtn:hover {
    animation: up 2s linear;
}

@keyframes up{
    0%{
        transform: scale(105%);
    }
    16%{
        transform: scale(110%);
    }
    33%{
        transform: scale(115%);
    }
    50%{
        transform: scale(110%);
    }
    67%{
        transform: scale(105%);
    }
    100%{
        transform: scale(100%);
    }
}

.custom-cursor {
    width: 3rem;
    height: 3rem;
    border: 1px solid #4286f438;
    border-radius: 100%;
  
    background: #e01f2c46;
    position: absolute;
    z-index: 5;
    transform: translate(-50%, -50%);
  
    pointer-events: none;
  }